.intro-section {
    height: 85vh;
}

.logo {
    color: var(--clr-accents);
}

.first-name, .last-name {
    color: var(--clr-accents);
    position: absolute;
    font-size: clamp(3rem, 10vw, 7rem);
}

.first-name {
    top: 20%;
    left: 10%;
}

.last-name {
    top: 28%;
    left: 10%;
}

.title {
    position: absolute;
    top: 37%;
    left: 10%;
    text-align: center;
    color: var(--clr-BG-light);
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-style: italic;
}

.circle1 {
    position: absolute;
    top: 65%;
    left: 77.5%;
    width: 90vw;
    height: 45vw;
    transform: translate(-50%, -50%) rotate(-90deg);
    border: 0.15em solid var(--clr-accents);
    border-bottom: none;
    border-radius: 15em 15em 0 0;
    z-index: -1;
}

.circle2 {
    position: absolute;
    top: 65%;
    left: 87.5%;
    width: 50vw;
    height: 25vw;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: 15em 15em 0 0;
    border: 0.3em solid var(--clr-BG-light);
    border-bottom: none;
    z-index: -1;
}

.about-me-container {
    position: relative;
    top: 15vw;
    width: 100%;
    height: 80%;
    padding: 10%;
    font-size: clamp(1.2rem, 3vw, 3rem);
    font-style: italic;
    text-align: center;
}

.about-me-container::before {
    content: '"';
    position: absolute;
    top: 0;
    left: 7%;
    color: var(--clr-accents);
    font-size: 15vw;
}

.about-me-container::after {
    content: '"';
    position: absolute;
    right: 10%;
    color: var(--clr-accents);
    font-size: 15vw;
}

.about-me-text {
    color: var(--clr-BG-light)
}

.projects-section {
    position: relative;
    top: 15vh;
}

.section-title {
    font-size: clamp(2rem, 3vw, 3.5rem);
    color: var(--clr-accents)
}

.section-title2 {
    color: var(--clr-BG-light)
}

.number-container {
    position: relative;
    top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.number {
    position: relative;
    left: -15%;
    font-size: clamp(9rem, 35vw, 20rem);
    opacity: 0.5;
}

.project-title {
    color: var(--clr-BG-light);
    
}

.img-landscape {
    position: relative;
    width: 100%;
    z-index: 2;
}

.portfolio3d {
    border-radius: 1em;
}

.img-portrait {
    position: relative;
    left: 25%;
    width: 50%;
    z-index: 2;
}

.projectDetails {
    color: var(--clr-BG-light);
    height: 32vh;
    animation: smoothSlide 1s ease;
}

.project-list {
    animation: listOpacity ease;
    animation-duration: 0.5s;
    font-size: clamp(0.9rem, 4.5vw, 4rem);
}
.contact-section {
    position: relative;
    top: 25vh;
}
form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
height: 70vh;

}
.contact-name, .contact-email{
    background: transparent;
    border:none;
    border-bottom: 0.2em solid var(--clr-accents);
    color: var(--clr-BG-light);
    outline: none;
}
textarea{
    background: transparent;
    border: 0.2em solid var(--clr-accents);
    outline: none;
    border-radius: 0.5em;
}
.send-button{
    width: 30%;
    padding: 3%;
    font-family: Montserrat-Reg;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--clr-BG-light)
}
.send-button::after{
    content: "";
    position: relative;
    left:0;
    top: 50%;
    width: 10vw;
    height: 5vh;
    background: var(--clr-accents);
    z-index: 5;
}

@keyframes listOpacity {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0.2
    }
    100% {
        opacity: 1
    }
}

@keyframes smoothSlide {
    0% {
        height: 0
    }
    100% {
        height: 32vh
    }
}