*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --clr-BG: rgb(54, 54, 54);
  --clr-accents: rgb(255, 171, 15);
  --clr-font: white;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--clr-BG)
}

h1, h2, h3, h4, a {
  margin: 0;
  padding: 0;
}