*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --clr-BG-dark: rgb(39, 39, 39);
  --clr-BG-light: silver;
  --clr-accents: rgb(218, 141, 0);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0.5em;
  padding: 0;
  font-family: Montserrat-Reg;
  background-color: var(--clr-BG-dark);
}

ul {
  list-style: none;
  padding-left: 0;
}
li{
  padding-top: 0.7em;
  text-align: start;
}

h1, h2, h3, h4, a {
  margin: 0;
  padding: 0;
  display: inline-block;
}
a{
  color: var(--clr-accents)
}
img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: Montserrat-Reg;
  src: url(./fonts/MontserratAlternates-Regular.ttf);
}